header {
background-color: rgb(23, 107, 10);
color: #070606;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
main {
background-color: #e9e8e8;
color: #183C63;
}
img {
width: 80px;
height: 80px;
}